body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.6); /* nửa trong suốt */
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: white;
}

.navbar a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.content {
    padding: 60px 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}